<!doctype html>
<style>
        /* 响应式样式 */
        @media (max-width: 1000px) {
            h1 {
                font-size: 90px;
            }
            body,h2 {
                font-size: 50px;
            }
            .container {
                max-width: 100%;
            }
            form {
    transform: scale(3);
    transform-origin: top left;
}

        }
        .container {
            margin: 0 auto;
            padding: 20px;
            max-width: 800px;
        }
    </style>
<title>编辑文件</title>
<h1>编辑文件：{{ filename }}</h1>
<div class=container>
<form method="post">
  <textarea name="content" rows="10" cols="80">{{ content }}</textarea>
  <br>
  <input type="submit" value="保存">
</form>
</div>