<!DOCTYPE html>
<html>
<head>
    <title>在线文件编辑器</title>
</head>
<body>
    

     <form id="command-form" method="POST" action="/open">
        <input type="text" name="file_path" placeholder="Enter directory path">
        <input type="text" name="command" placeholder="输入Linux命令">
        <input type="submit" value="执行">
    </form>
     {% if result %}
     <form id="command-form2" method="POST" action="/save">
         <input type="text" name="file_path2" placeholder="Enter directory path">
         <input type="text" name="file_name" placeholder="file name">
<textarea name="content" rows="10" cols="50">{{ result }}</textarea>
         
 {% endif %}
          <input type="submit" value="保存">
         </form>
     <form id="command-form3" method="POST" action="/kill">
        <input type="submit" value="杀死flask">
        </form>
    <form id="command-form4" method="POST" action="/reboot">
        <input type="submit" value="重启flask">
        </form>
{% if error_message %}
            <pre>{{ error_message }}</pre>
        {% endif %}
   

   

</body>
</html>
