<!DOCTYPE html>
<html>
<head>
    <title>Flask CRUD Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Flask CRUD Example</h1>
    
    <!-- 添加用户表单 -->
    <h2>Add User</h2>
    <form id="addUserForm">
        <input type="text" name="first_name" placeholder="First Name" required>
        <input type="text" name="last_name" placeholder="Last Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <button type="submit">Add User</button>
    </form>

     

    
  
    <script>
        // 添加用户表单提交事件
        $("#addUserForm").submit(function(event) {
            event.preventDefault();
            
            var form = $(this);
            var url = "{{ url_for('add_user') }}";
            var formData = form.serialize();

            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                success: function(response) {
                    $("#result").text(response);
                }
            });
        });

        
    </script>
</body>
</html>
