<!DOCTYPE html>
<html>
<head>
    <title>Linux控制台终端</title>
</head>
<body>
    <h1>Linux控制台终端</h1>
    
    <form id="command-form" method="POST" action="/execute">
        <input type="text" name="command" placeholder="输入Linux命令">
        <input type="submit" value="执行">
    </form>

    <div id="result-container">
        {% if result %}
            <pre>{{ result }}</pre>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#command-form').submit(function(event) {
                event.preventDefault();  // 阻止表单的默认提交行为
                var form = $(this);
                var url = form.attr('action');
                var command = form.find('input[name="command"]').val();

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {command: command},
                    success: function(response) {
                        $('#result-container').append('<pre>' + response + '</pre>');
                    },
                    error: function(xhr, status, error) {
                        $('#result-container').append('<pre>Error: ' + error + '</pre>');
                    }
                });
            });
        });
    </script>

</body>
</html>
