<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
    <h1>Update User</h1>
    <form method="post">
        <input type="hidden" name="id" value="{{ user.id }}">
        <label>First Name: <input type="text" name="first_name" value="{{ user.first_name }}"></label><br>
        <label>Last Name: <input type="text" name="last_name" value="{{ user.last_name }}"></label><br>
        <label>Email: <input type="email" name="email" value="{{ user.email }}"></label><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
